tr th{
    background: #2980b9;
    color: #fff;
    text-transform: uppercase;
}

tr td:nth-child(4){
    text-transform: capitalize;
}
.card-container{
    padding-top: 30px;
}

#receipt-list_wrapper .row:nth-child(1){
    display: none;
}

#receipt-list_wrapper tbody tr td:nth-child(6){
    text-align: center;
}
.range-selection{

    margin-left: 15px;
    margin-bottom: 20px;
}
#add-to-cart{
    cursor: pointer;
}

.modal{
    position: absolute;
    top: 15%;

}
label#view-receipt,label#edit-receipt,label#delete-receipt {
    margin: 0;
    padding: 5px 20px;
}
.alert-success,.alert-warning{
    background-color: #3c763d;
    margin-right: 10px !important;
}
.alert-warning{
    background-color: #8a6d3b;
}
.alert-danger{
    background-color: #a94442;
}

.alert-warning,.alert-success,.alert-danger{
    color:white;
    cursor: pointer;

}
#swal2-content .note{
    display: block;
    text-align: left;
    padding: 10px 30px 0 30px;
    color:red;
}




#receiptin-list_wrapper .row:nth-child(1){
    display: none;
}

#receiptin-list_wrapper tbody tr td:nth-child(5){
    text-align: center;
}


.stocks-report select,.stocks-report1 select{
    margin-top: 10px;
    margin-bottom: 10px;
}
.reset-stock{
    color:red;
    cursor: pointer;
}